<div class="col-md-10">
  <div class="cart-items list-group">
    <% if session[:order].blank? %>
      <h3>Giỏ của bạn vẫn trống</h3>
    <% else %>
      <% total = 0 %>
      <table class="table table-hover" >
        <thead>
          <tr>
            <th>Hình ảnh</th>
            <th>Tên mặt hàng</th>
            <th>Giá tiền</th>
            <th>Số lượng</th>
          </tr>
        </thead>
        <tbody>
          <% session[:order].each do |id,item|  %> 
            <% total += (item['price'].to_i * item['quantity'].to_i)%>
              <tr id="<%= id %>">
                <td width="10%" >
                  <span class="col-md-3"> 
                    <%= image_tag(item['img'], size: "30x50") if !item['img'].include? '['%>
                  </span> 
                </td>
                <td width="60%" >
                  <%= link_to(item['name'], product_path(id)) %>
                </td>
                <td  width="10%" >
                  <span class="col-md-3 price">
                    <%= hidden_field_tag :price, item['price'],id: "price#{id}", min: 1, max: 100, :step => 'any', class: "form-control item-quantity" %>
                    <strong> <%= "$#{item['price'].to_i/100.0}" %> </strong>
                  </span>
                </td>
                <td  width="10%" >
                  <%= number_field_tag :quantity, item['quantity'],data: {id: id }, min: 1, max: Product.find_by(id: id).stock, :step => 'any', class: "form-control item-card-quantity" %>
                </td>
                <td  width="10%" >
                  <button data-confirm='Xóa là mất đấy' class="form-control btn-danger remove-item" id="rm<%= id %>">
                    <i class="glyphicon glyphicon-remove"></i>
                  </button> 
                </td>
              </tr>
          <% end %>
        <tbody>
      </table>
      <div class="total">
        <h3> Tổng <strong class="totalFormat"> $<%= total/100.0 %> </strong></h3>
        <a href="/checkout" class="btn btn-primary" id="ckbtn"> Thanh Toán</a>
      </div>
    <% end %>
  </div>
</div>
