<div class="col-md-10"  style="padding-left: 26px;">
    <div class="container">
      <% flash.each do |key, value| %>
        <div class ="alert alert-<%= key %>"> 
          <%= value %>
        </div>
      <% end %>
    </div>
  <div class="container">
    <input type="text" class="form-group" name=""></input>
    <button class="btn btn-primary"> Search</button>
  </div>
  <div class="grip-products col-md-12">
    <h1><%= @category.nil? ? "Hot deal" : @category.name %></h1>
    <% ind = 0 %>
    <% @last_products.each_with_index do |product,i| %>
      <% ind = i %>
      <div class = "col-md-3" >
        <%= link_to product_path(product.id) do %>
          <%= image_tag(product.image_url, size: "150x220", alt:  product.name) %>
        <% end %>
        <h5>
          <%= link_to product_path(product.id), class: "title" do %>
            <%= product.name.truncate(28) %>
          <% end %>
        </h5>
        <span class="price">
            <strong> <%= "$ #{product.price.to_i/100.0}" %> </strong>
            <span class="clearfix"></span>
            <input type="number" value="1" min="0" step="1" class="form-control quantity" id="quantity-<%= product.id %>" />
            <button class="btn btn-success btn-sm buynow" id='product-<%= product.id %>'>Buy now</button>
        </span>
        <br/>
        <p class="rating">
          <span class="rating-content">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
          </span>
        </p>
      </div>
      <%= '<div class="clearfix"></div>'.html_safe if ((i + 1) % 4) == 0 %>
      <% break if i == 7%>
    <% end %>
  </div>
  <div class="clearfix"></div>
  <% if @products.size > ind + 1 %>
    <span class="all-prodcut container"> <h3> All product </h3> </span>
    <div class="list-products list-group">
      <ul class="list-group">
        <% @products.each_with_index do |product, i| %>
          <li class="list-group-item row">
            <span class="col-md-3"> 
              <%= image_tag(product.image_url, size: "30x50") if !product.image_url.include? '['%>
            </span>
            <%= link_to product_path(product.id) ,class: "col-md-5" do %>
              <%= product.name %>
            <% end %>
            <span class="col-md-3 price" style="text-align: center; float: right;">
              <strong> <%= "$ #{product.price.to_i/100.0}" %> </strong>
            </span>
          </li>
        <% end %>
      </ul>
      <span class="paginate"> <%= paginate @products , window: 2 %> </span>
    </div>
  <% end %>
</div>
