<div class="col-md-10"  style="padding-left: 26px;">
    <div class="container">
      <% flash.each do |key, value| %>
        <div class ="alert alert-<%= key %>"> 
          <%= value %>
        </div>
      <% end %>
    </div>
  <div class="container">
    <input type="text" class="form-group" name=""></input>
    <button class="btn btn-primary"> Search</button>
  </div>
  <div class="grip-products col-md-12">
    <h1><%= @category.nil? ? "Hot deal" : @category.name %></h1>
    <% ind = 0 %>
    <% @products.each_with_index do |product,i| %>
      <% ind = i %>
      <div class = "col-md-3" >
        <a href="<%= product_path(product.id)%>"  >
          <%= image_tag(product.image_url, size: "150x220", alt:  product.name) %>
        </a>
        <h5>
          <a class="title" href="<%= product_path(product.id)%>" >
            <%= product.name.truncate(28) %>
          </a>
        </h5>
        <span class="price">
            <strong> <%= "$ #{product.price.to_i/100.0}" %> </strong>
            <span class="clearfix"></span>
            <input type="number" value="1" min="0" step="1" class="form-control quantity" id="quantity-<%= product.id %>" />
            <button class="btn btn-success btn-sm buynow" id='product-<%= product.id %>'>Buy now</button>
        </span>
        <br/>
        <p class="rating">
          <span class="rating-content">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
          </span>
        </p>
      </div>
      <% if ((i + 1) % 4) == 0 %>
        <div class="clearfix"></div>
      <% end %>
      <% break if i == 11%>
    <% end %>
  </div>
  <div class="clearfix"></div>
  <div class="list-products list-group">
    <ul class="list-group">
      <% if ind + 1 < @products.size %>
        <% ((ind + 1)..(@products.size - 1)).each do |item_index| %>
          <% product = @products[item_index]%>
          <li class="list-group-item row">
            <span class="col-md-3"> 
              <%= image_tag(product.image_url, size: "30x50") if !product.image_url.include? '['%>
            </span>
            <a class="col-md-5" href="/products/<%= product.id %>" > 
              <%= product.name %>
            </a>
            <span class="col-md-3 price" style="text-align: center; float: right;">
              <strong> <%= "$ #{product.price.to_i/100.0}" %> </strong>
            </span>
          </li>
        <% end %>   
      <% end %>
    </ul>
  </div>
</div>
