<div class="col-sm-10"  style="padding-left: 26px;">
  <%= render 'layouts/flash' %>
  <div class="clearfix"></div>
  <span class="all-prodcut container"> <h3> All product </h3> </span>
  <div class="list-products list-group">
    <ul class="list-group">
      <% @products.each_with_index do |product, i| %>
        <li class="list-group-item row">
          <span class="col-md-3"> 
            <%= image_tag(product.image, size: "30x50") %>
          </span>
          <%= link_to product_path(product.id) ,class: "col-md-5" do %>
            <%= product.name %>
          <% end %>
          <span class="col-md-3 price" style="text-align: center; float: right;">
            <strong> <%= product.price_text %> </strong>
          </span>
        </li>
      <% end %>
      <span class="paginate"> <%= paginate @products , window: 2 %> </span>
    </ul>
  </div>
</div>
