<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Venshop</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="container">
    <header class="navbar navbar-fixed-top">
      <div class="container row">
        <%= link_to "Venshop", root_path, id: "logo",class: "col-sm-3" %>
        <%=  render 'layouts/search_form' if 'registrations' != controller.controller_name && 'sessions' != controller.controller_name  %>
        <nav class="col-sm-5">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to "Tài khoản", edit_user_registration_path, html_options = {style: "color: white;"}%>
              </li>
              <li> 
                <%= link_to "Đăng Xuất", destroy_user_session_path, data: {method: "delete"},style: "color: white;" %>
              </li>
            <% else %>
              <li>
                <%= link_to "Đăng nhập", new_user_session_path, html_options = {style: "color: white;"} %>
              </li>
            <% end %>
            <li>
              <%= link_to view_order_path, class: "checkout-cart" do %>
                <i class="iconcart glyphicon glyphicon-shopping-cart"></i>
                <span class="pcart" ><b>Giỏ hàng</b></span>
                <span class="items-count"><%= session[:order].size%></span>
              <% end %>
            </li>
          </ul>
        </nav>
      <div class="social-area">
        <div id="fb-root"></div>
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '1341339592628913',
              xfbml      : true,
              version    : 'v2.8'
            });
            FB.AppEvents.logPageView();
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>
          <div class="fb-share-button" data-href="http://symmap.me" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="http://symmap.me">Chia sẻ</a></div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <%= render 'layouts/adside'%>
        <%= yield %>
      </div>
    </div>
    <footer class="container">

    </footer>
  </body>
</html>